# Binaries
bin/
dist/
out/
*.exe
*.exe~
*.dll
*.so
*.dylib
main
web

# Test and Coverage
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
vendor/

# Go workspace
go.work
go.work.sum

# Environment variables (SANGAT PENTING JANGAN SAMPAI BOCOR)
.env

# Editor/IDE and OS logs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store